<?xml version="1.0" encoding="UTF-8"?><root version="1.0">
  <dict>
    <key>items</key>
    <array>
      <dict>
        <key>assets</key>
        <key>metadata</key>
        <array>
          <dict>
            <key>kind</key>
            <key>url</key>
            <string>software-package</string>
            <string>http://A6038827956723.qiniucdn.apicloud-system.com/702e76df2de7d3529bd302360f9566a0.ipa</string>
          </dict>
          <dict>
            <key>kind</key>
            <key>needs-shine</key>
            <key>url</key>
            <string>display-image</string>
            <string>http://www.apicloud.com/icon1/e1/87/e187bc9a689f55b0bb12d0f37bac6aa7.57x57.png</string>
            <true></true>
          </dict>
          <dict>
            <key>kind</key>
            <key>needs-shine</key>
            <key>url</key>
            <string>full-size-image</string>
            <string>http://www.apicloud.com/icon1/e1/87/e187bc9a689f55b0bb12d0f37bac6aa7.57x57.png</string>
            <true></true>
          </dict>
        </array>
        <dict>
          <key>bundle-identifier</key>
          <key>bundle-version</key>
          <key>kind</key>
          <key>subtitle</key>
          <key>title</key>
          <string>com.faw.capgemini.hr</string>
          <string>1.0.5</string>
          <string>software</string>
          <string>HR自助</string>
          <string>HR自助</string>
        </dict>
      </dict>
    </array>
  </dict>
</root>
